*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-image:linear-gradient(30deg,#0048bd,#44a7fd);
    padding: 50px 25px 50px 25px;
    width: 100vw;
    
}


.navtab {
    background-color: #fff;
    border-radius: 10px;
    color: #3f5efb;
    margin: 5px;
    padding: 5px;
    width: 8vw;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

.navtab:hover {
    background-color: #3f5efb;
    color:#fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    border-radius: 0;
    padding: 1px 25px 1px 25px;
    transition: 1s;
}

.sticky + .inicio {
    padding-top: 60px;
}

.inicio {
    background-color: #d4d4d4;
    border-radius: 10px;
    height: 25vh;
    margin: 30px;
}
